/* **********
 CONFIGURAÇÕES GERAIS
*/
body{
    font-family: system-ui, -apple-system, 'Helvetica', Arial, sans-serif;
    color: #fff;
}

a{
    color: #fff;
    text-decoration: none;
    transition: .3s;
}

a:hover{
    opacity: .7;
}

.logo{
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

nav{
    background-color: #23232e;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 8vh;
    border-bottom: 1px solid #fff;
}

main{
    background: url(../images/background-image-min.jpg) center center no-repeat;
    background-size: cover;
    min-height: 84vh;
}

/* **********
 CONFIGURAÇÕES DO MENU MOBILE SANDWICH
*/

.mobile-menu{
    cursor: pointer;
    display: none;
}

.mobile-menu div{
    width: 32px;
    height: 2px;
    background-color: #fff;
    margin: 8px;
    transition: .3s;
}

/* **********
 CONFIGURAÇÕES DO MENU PRINCIPAL
*/

.nav-list{
    list-style: none;
    display: flex;
}
.nav-list li{
    letter-spacing: 3px;
    margin-left: 32px;
    text-transform: capitalize;
    font-weight: 500;
}
/* **********
 CONFIGURAÇÕES DO MAIN - CORPO DO SITE
*/

#body-site{
    width: 90vw;
    margin: 0 auto;
    padding: 25px 0;

    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

#principal{
    background-color: rgba(35, 35, 46, 0.7);
    width: 58vw;

    display: flex;
    flex-wrap: wrap;
}

#lateral{
    background-color: rgba(35, 35, 46, 0.7);
    width: 29vw;
    text-align: center;
}

/* **********
 CORPO DO SITE - PRINCIPAL
*/
.custom-project{
    border: 1px solid #fff;
    width: 256px;
    height: 144px;
    margin: auto;
}

.custom-project:hover{
    border: 1px solid rgba(255, 255, 255, .7);  
    transition: .3s;
}


/* **********
 CORPO DO SITE - LATERAL
*/

#profile-picture{
    border: 1px solid white;
    border-radius: 50%;
    width: 180px;
    margin: 5px auto;
}

.profile-contact-list{
    padding: 0;
    display: flex;
    justify-content: space-evenly;
}

.profile-contact-list li{
    list-style: none;
}

.profile-contact-list li i{
    padding: 5px;
    font-size: 1.5em;
    border: 2px solid #fff;
    border-radius: 50%;
}
.profile-text{
    text-align: justify;
    margin: auto 20px;
}

.profile-text h1{
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5em;
    margin: 0 auto;
}
.profile-text span{
    display: block;
    text-align: right;
    font-size: .8em;
}

/* **********
 CONFIGURAÇÕES DO RODAPÉ
*/

footer{
    background-color: #23232e;
    height: 8vh;
    border-top: 1px solid #fff;
    letter-spacing: 3px;
    text-align: center;

}

footer p{
    transition: .3s;
    height: 5vh;
    
}

footer a:hover{
    opacity: .7;
}


/* **********
 RESPONSIVIDADE
*/

@media (max-width: 999px) {
    body{
        overflow-x: hidden;
    }
    
    main{
        background: url(../images/background-image-min.jpg) top center no-repeat;
        background-size: cover;
    }

    #body-site{
        flex-direction: column;
    }

    #principal{
        width: 70vw;
        margin: auto;
    }

    #lateral{
        width: 70vw;
        margin: auto;
        
    }

    .profile-contact-list{
        margin: 5px auto;
    }

    .profile-text h1{
        display: none;
    }

    .profile-text span{
        text-align: center;
        margin-top: 1px;
    }

    .profile-text p{
        margin-bottom: 20px;
    }

    .custom-project{
        margin: 10px auto;
    }


    /* **********
        MOBILE MENU
    */

    .mobile-menu{
        display: block;
    }

    .nav-list{
        position: absolute;
        top: 5vh;
        right: 0;
        width: 50vw;
        height: 95vh;
        background-color: #23232e;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform .3s ease-in;
    }

    .nav-list li{
        margin: 0;
        
    }

    .nav-list.active{
        transform: translate(0);
    }
}