/* **********
 CONFIGURAÇÕES GERAIS
*/
body{
    font-family: system-ui, -apple-system, 'Helvetica', Arial, sans-serif;
    color: #fff;
}

a{
    color: #fff;
    text-decoration: none;
    transition: .3s;
}

a:hover{
    opacity: .7;
}

.logo{
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

nav{
    background-color: #23232e;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 8vh;
    border-bottom: 1px solid #fff;

}

main{
    background: #000;
    background-size: cover;
    min-height: 84vh;
}

/* **********
 CONFIGURAÇÕES DO MENU MOBILE SANDWICH
*/

.mobile-menu{
    cursor: pointer;
    display: none;
}

.mobile-menu div{
    width: 32px;
    height: 2px;
    background-color: #fff;
    margin: 8px;
    transition: .3s;
}

/* **********
 CONFIGURAÇÕES DO MENU PRINCIPAL
*/

.nav-list{
    list-style: none;
    display: flex;
}
.nav-list li{
    letter-spacing: 3px;
    margin-left: 32px;
    text-transform: capitalize;
}
/* **********
 CONFIGURAÇÕES DO MAIN - CORPO DO SITE
*/

#body-site{
    border: 1px solid red;
    width: 90vw;
    margin: 0 auto;
    padding: 25px 0;

    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

#principal{
    border: 1px solid yellow;
    width: 58vw;
}

#lateral{
    border: 1px solid blue;
    width: 29vw;
}



/* **********
 CONFIGURAÇÕES DO RODAPÉ
*/

footer{
    background-color: #23232e;
    height: 8vh;
    border-top: 1px solid #fff;
    letter-spacing: 3px;
    text-align: center;

}

footer p{

    transition: .3s;
    height: 5vh;
    
}

footer a:hover{
    opacity: .7;
}
